#calc-parent{
 
 width:400px;
 border:2px solid black;
}
.output{
    background-color:gray;
    height: 70px;
    width:100%;
}
.btn-div{
    display: grid;
    grid-template-columns : auto auto auto  auto;

}

button{
    height: 50px;
    border: 0px;
    border: 1px solid black;
}
#zero{

    grid-column: 1 / span 2;
    grid-row: 5;
}
.operator{
    background-color: orange;
    color: white;
}
