@import url('https://fonts.googleapis.com/css?family=Roboto:100');
body{
    font-family: 'Roboto',sans-serif;
}
.cal-num{
    background-color: silver;
    color: black;
    width: 25px;
    height:40px ;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    font-size: 32px ;
    font-weight: 100px;
    padding-top: 3px;

}
.cal-num:hover{
    background-color: orange;
}
.row{
    display: table;
    table-layout: fixed;
    width: 200px;
}
.calumn{
    display: table-cell;
}
#zero{
    width: 52.6666667px;
    border-radius: 0 0 0 7px;
}
#result{
    height: 80px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 48px;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0px 0px;
}
operator{
    background-color: orange;
    color: white;
}